[Unit]
Description=testnet-v3 faucet - discord listener
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/tmp
Environment=AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
Environment=AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
Environment=AWS_SQS_URL=https://sqs.us-east-2.amazonaws.com/684317180556/testnet-v3-faucet
Environment=DISCORD_APPLICATION_ID=${DISCORD_APPLICATION_ID}
Environment=DISCORD_GUILD_ID=${DISCORD_GUILD_ID}
Environment=DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
Environment=DOLPHIN_FAUCET_MNEMONIC='${DOLPHIN_FAUCET_MNEMONIC}'
ExecStartPre=rm -rf /tmp/testnet-v3-faucet
ExecStartPre=git clone https://github.com/Manta-Network/testnet-v3-faucet.git /tmp/testnet-v3-faucet
ExecStartPre=yarn --cwd /tmp/testnet-v3-faucet/discord/registration
ExecStartPre=node /tmp/testnet-v3-faucet/discord/registration/index.js
ExecStartPre=yarn --cwd /tmp/testnet-v3-faucet/discord/listener
ExecStart=node /tmp/testnet-v3-faucet/discord/listener/index.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
